<!DOCTYPE html>
<html>
  <head>
    <title>Tandem2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>

      table {
    border-collapse: collapse;
    }

    th {
    padding-top: .5em;
    padding-bottom: .5em;
    padding-right: .5em;
    padding-left: 1em;
    }
      body {
        background-color: #00aaad;
        color: #ffffff;
      }
        h1, h2 {

        background-color: #86328c;
        text-align: center;
        height: 100px;
        padding-top: 25px;
        color: #ffffff;
        }

        h3 {
          background-color: #86328c;
          text-align: center;
          height: 50px;
          padding-top: 12px;
          color: #ffffff;
        }

        a {
          color: #B00100;
          text-decoration: underline;
        }

        label {
          padding-right: 2em;
        }

        .button-spec {
          color: #333333;
        }

    </style>
  </head>

  <body>
  <div id="main-container" class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= yield %>
      </div>
    </div>
  </div>

  </body>
</html>

